.organic{
    padding: 20px;
}
.orhead{
       color: green;
}
.orhead1{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: 700;
}
.orimg1{
   width: 60%;
}