.img12{
    width: 100%;
}
.head12{
    color: green;
}
.head13{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: 600;
}
.para14{
      font-family: 'Courier New', Courier, monospace;
      font-weight: 500;
}